.header{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    background-color: black;
 
}
div .home-link{
    display:flex;
    justify-content:center;
    align-items:center;


}
.menu{
    margin-right:40px;
 color:white; 
}
.menu Link{
    color:white; 
    text-decoration: none;
}
.menu{
    color:white; 
    text-decoration: none;
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    .header{
        display:flex;
        align-items:center;
        justify-content:space-evenly;
        background-color: black;
        min-height: 10vh;
    }
    div .nav{
        display:flex;
        flex-direction: column;
        justify-content:space-around;
        align-items:stretch;
    
    
    }
 }